@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding-left: 0;
  font-family: 'Titillium Web', sans-serif;
}

.dashboard, .course, .job {
  display: flex;
  font-size: 3rem;
}
